.yksi{
color:red;
}
.kaksi{
color: blue;
}
aside{
  width: 40%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: brown;
}

body{
  background-color: lightblue;
}
